#include "core/version.h"

#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif

BALLISTIC_ICON ICON "ballistic_console.ico"
1 RT_MANIFEST "ballistic.manifest"

1 VERSIONINFO
FILEVERSION     BALLISTIC_VERSION_MAJOR,BALLISTIC_VERSION_MINOR,BALLISTIC_VERSION_PATCH,0
PRODUCTVERSION  BALLISTIC_VERSION_MAJOR,BALLISTIC_VERSION_MINOR,BALLISTIC_VERSION_PATCH,0
FILEOS          4
FILETYPE        1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",     "Ballistic Games"
            VALUE "FileDescription", "Ballistic2D (Console)"
            VALUE "FileVersion",     BALLISTIC_VERSION_NUMBER
            VALUE "InternalName",    "ballistic2d_console_wrapper"
            VALUE "ProductName",     BALLISTIC_VERSION_NAME
            VALUE "ProductVersion",  BALLISTIC_VERSION_FULL_BUILD
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END